<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <title>Freedom To Learn | Home</title>
        <meta charset="utf-8">
        <meta name="author" content="Jenaca Willans">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Freedom To Learn Book 
              by Art Willans and Cari Williams">
        <!-- <link rel="stylesheet" href="bootstrap.min.css" type="text/css" /> -->
        <link href="../stylesheets/f2l_css.css" rel="stylesheet" 
              media="screen" type="text/css"/>
  </head>
  <body class="container-fluid pt-3">
  	<div class="wrapper">
    <header class="headernav">
      <nav class="logonav">
        <div class="logodiv">
        <a href="../">
            <img src="../images/F2L Logo.png" 
            alt="Freedom to Learn Logo"
            width="518" height="108" class="logo"></a>
        <h1 class="hide">Freedom to Learn Book</h1>
        </div>  <!---- class logodiv ---->
        <div class="fullnav">
          <ul>
            <li><a href="../">Home</a></li>
        </div> <!--- full screen nav div ---->
    </header> <!--- class headernav ----> 
    <section id="main">
    <h2>Creating a Classroom Where Every Child Thrives</h2>
    <div id="f2lcontent">
      <!-- <div class="column"> -->
        <div class='f2lcontactsidebarcontent'>
          <h3>Twitter Feed:</h3>
          <!-- <button type="button" class="btn btn-outline-secondary" id="tweetAjax">Get Tweets</button><br> -->
          <span id="tweetResult"></span>
        </div>
      <!-- </div> -->
      <!-- <div class="column"> -->
        <div class="f2l1cover"> 
          <img src="../images/Willans-Williams_Freedom-to-Learn_original.jpg" 
                        alt="Freedom to Learn bookcover" width='100%'/>
        </div> <!--- class f2l1 ---->
      <!-- </div> -->
    <!-- <div class="column"> -->
      <div class="f2lsidebar">
          <h1>Freedom to Learn</h1>
              <h3>Now available for pre-order from </h3>
                <a href="https://www.newsociety.com/Books/F/Freedom-to-Learn"
                            target="_blank">
                <img src="../images/logo_nsp.png" alt="New Society Logo"/></a>
                        <div class="nowrap">
                        <a href="https://www.newsociety.com/Books/F/Freedom-to-Learn" 
                           target="_blank">Pre-order here for a 20% discount!</a>
                            </div> <!--- class: nowrap-->
                        <br>
                      <h3>Contact the Authors:</h3><br>
                        <p>Email Art Willans: </p><br>
                        <p><a href="mailto:Art@freedomtolearnbook.com?Subject=Contact%20Form" 
                               target="_top">Art@freedomtolearnbook.com</a></p><br>
                        <p>Find us on Facebook: </p><br>
                        <p><a href="https://www.facebook.com/freedomtolearnbook" 
                   target="_blank">Freedom to Learn</a></p>                      
      </div> <!--- class f2lsidebar ---->
    <!-- </div> -->
    </div> <!--- f2lcontent ---->
    </section> <!--- main ---->
    <footer> 
            &copy; 2017 | Dr. Art Willans and Cari Williams | New Society Publishing | Website Development by Jenaca Willans
    </footer>
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
    <script type="text/javascript" src="script.js"></script>
   </div> <!--- wrapper ---->
  </body>
</html>     